/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
    src: url("./../../src/resources/fonts/K2D-Medium.ttf"),
    	 url("./../../src/resources/fonts/Roboto-Black.ttf"),
    	 url("./../../src/resources/fonts/Roboto-Medium.ttf"),
}

#maincontroller{
	-fx-background-image: url("./../../src/resources/images/background.png"); 
	-fx-background-repeat: no-repeat;
	-fx-background-size: 100%;
}

#buttonHome{
	-fx-translate-x: 20;
	-fx-translate-y: 20;
}

/* WAITING SCREEN */

	/* Label Title FOUR THE WIN */
	#lblTitleWaitingScreen{
		-fx-alignment: center;
		-fx-font-family: "K2D Medium", sans-serif;
		-fx-font-weight: bold;
		-fx-text-fill: #FBC680;
		-fx-font-size: 100px;
	}
	
	/* Border around the text */
	#lblTitleWaitingScreen .text{
	    -fx-stroke: black;
	    -fx-stroke-width: 5px;
	    -fx-stroke-type: outside;
	}
	
	/* Label on the Waiting Screen "Press to continue" */
	#lblClickContinueWaitingScreen{
		-fx-border-width: 5px;
		-fx-border-color: black;
		-fx-border-radius: 40px;
		-fx-background-color: #793F54;
		-fx-background-radius: 45px;
		-fx-alignment: center;
		-fx-font-family: "Roboto Black", sans-serif;
		-fx-font-weight: bold;
		-fx-text-fill: #FFF;
		-fx-font-size: 30px;
		-fx-padding: 15px 0;
		-fx-border-insets: 40px 0;
		-fx-background-insets: 40px 0;
	}
	
	/* Border around the text */
	#lblClickContinueWaitingScreen .text{
	    -fx-stroke: black;
	    -fx-stroke-width: 2px;
	    -fx-stroke-type: outside;
	}
	
	
/* MAIN MENU */

	/* Background */
	#mainMenu{
		-fx-background-image: url("./../../src/resources/images/background_mainmenu.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -30;
	}
	
	/* Buttons */
	.btnMainMenu{
		-fx-pref-width: 350px;
		-fx-pref-height: 40px;
	}
	
	#ivsettings{
		-fx-translate-x: 260;
		-fx-translate-y: -15;
	}
	
	
/* SELECT PLAYERS */

	/* Background */
	#playerSelection{
		-fx-background-image: url("./../../src/resources/images/background_select_players.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;
	}
	
	/* Button Play */	
	#btnPlaySelectPlayers{
		-fx-pref-width: 200px;
		-fx-pref-height: 40px;
		-fx-translate-x: -220;
		-fx-translate-y: -45;
	}
	
	
/* SELECT A THEME */

	/* Background */
	#themeSelection{
		-fx-background-image: url("./../../src/resources/images/background_theme.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -30;
	}
	
	#lblPlayerTheme{
		-fx-font-size: 25px;
		-fx-translate-y: -30;
	}
	
	#lblPlayerTheme .text{
		-fx-stroke-width: 2px;
	}
	

/* RANKING */

	/* Background */
	#ranking{
		-fx-background-image: url("./../../src/resources/images/background_ranking.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;
	}
	.positionRank{
		-fx-translate-x: -110;
	}
	.positionPseudo{
		-fx-translate-x: -40;
	}
	.positionScore{
		-fx-translate-x: 25;
	}
	.positionTime{
		-fx-translate-x: 110;
	}
	.titleRanking{
		-fx-translate-y: -20;
	}
	.lblRanking{
		-fx-font-size: 25;
		-fx-translate-y: -5;
	}

	
/* SETTINGS */

	/* MENU SETTINGS CHOICE */
	/* Background */
	#menuSettingsChoice{
		-fx-background-image: url("./../../src/resources/images/background_settings_choice.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;
	}
	
	#btnUserSettingChoice{
		-fx-pref-width: 600px;
		-fx-translate-y: 25;
	}
	
	#btnAdminSettingChoice{
		-fx-pref-width: 600px;
		-fx-translate-y: 140;
	}
	
	/* USER SETTINGS */
	/* Background */
	#userSettings{
		-fx-background-image: url("./../../src/resources/images/background_user_settings.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;
	}
	
	#btnSaveUserSettings{
		-fx-pref-width: 200px;
		-fx-translate-x: -10px;
		-fx-translate-y: 120px;
	}
	
	.positionUserSettings{
		-fx-translate-x: 120px;
	}
	
	.positionTxtUserSettings{
		-fx-translate-x: 60px;
	}
	
	/* ADMIN SETTINGS LOGIN */
	/* Background */
	#adminLogin{
		-fx-background-image: url("./../../src/resources/images/background_admin_login.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;		
	}
	
	/* Title "Admin Login" */
	#titleAdminLogin{
		-fx-font-size: 30px;
		-fx-translate-y: 20px;
	}
	#titleAdminLogin .text{
		-fx-stroke-width: 2px;
	}
	
	/* Position of labels and textfields */
	.positionAdminLogin{
		-fx-translate-y: 50px;
	}
	
	/* Button Login */
	#btnAdminLogin{
		-fx-pref-width: 200px;
		-fx-translate-y: 90px;
		-fx-translate-x: 110px;
	}
	
	/* ADMIN SETTINGS MENU */
	#adminMenu, #adminAdd, #adminDelete{
		-fx-background-image: url("./../../src/resources/images/background_user_settings.png");
		-fx-background-position: top;
		-fx-background-repeat: no-repeat;
		-fx-translate-y: -40;
	}
	
	/* ADMIN SETTINGS ADD QUESTION */
	/* Labels */
	.lblAddQuestion{
		
	}
	
	/* Textfields */
	.txtAddQuestion{
	
	}
	
	/* ADMIN SETTINGS DELETE QUESTIONS */
	.txtAdminDelete{
		-fx-translate-x: 10px;
		-fx-pref-width: 300px;
	}
	
	.lblAdminDelete{
		-fx-translate-x: -10px;
	}
	
	#btnAdminDelete{
		-fx-translate-y: 105px;
		-fx-translate-x: 55px;
		-fx-pref-width: 200px;
	}
	

/* Default CSS for the buttons, labels and textfields */
.button{
	-fx-background-color: #793F54;
	-fx-border-color: #000000;
	-fx-text-fill: #FFFFFF;
	-fx-border-width: 2px;
	-fx-border-radius: 20;
	-fx-background-radius: 22;
	-fx-font-size: 24;
	-fx-font-family: "Roboto Black", sans-serif;
	-fx-font-weight: bold;
}

.button .text{
	-fx-stroke: black;
	-fx-stroke-width: 2px;
 	-fx-stroke-type: outside;
}

/* Labels */
Label{
	-fx-text-fill: white;
	-fx-font-family: "Roboto Black", sans-serif;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}
Label .text{
	-fx-stroke: black;
	-fx-stroke-width: 1px;
	 -fx-stroke-type: outside;
}
		
/* TextFields */
TextField, PasswordField {
	-fx-pref-width: 200px;
	-fx-pref-height: 30px;
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 10px;
	-fx-background-radius: 11px;
	-fx-text-fill: black;
	-fx-font-family: "Roboto Black", sans-serif;
	-fx-font-size: 15px;
	-fx-font-weight: bold;
	-fx-border-insets: 10px 0;
	-fx-background-insets: 10px 0;
}


